@model IEnumerable<ihff.Models.OrderItemCombined>
@{
    ViewBag.Title = "Wishlist";
}
<link href="@Url.Content("~/Content/wishlist.css")" rel="stylesheet" type="text/css" />

<!--Wishlist Partial HTML pagina-->
<script>
    function updateAmount(id) {
        var amount = $('#' + id).val();
        $("#hiddenUpdateAmountVal").val(amount);
        $("#hiddenUpdateIDVal").val(id);
        $("#hiddenUpdateForm").submit();
    }

    function deleteId(id) {
        $("#hiddenUpdateAmountVal").val(0);
        $("#hiddenUpdateIDVal").val(id);
        $("#hiddenUpdateForm").submit();
    }
</script>


<div>
    @if (Session["code"] != null)
    {
        using (Html.BeginForm("wishUpdateOrder", "Wishlist", FormMethod.Post, new { Id = string.Format("hiddenUpdateForm") }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="hiddenUpdateAmountVal" id="hiddenUpdateAmountVal" />
            <input type="hidden" name="hiddenUpdateIDVal" id="hiddenUpdateIDVal" />
        }

        @:<p><h4>Wishlist</h4></p>

        double? totPrijs = 0.0;
        string Code = Session["code"].ToString();
        foreach (ihff.Models.OrderItemCombined i in Model)
        {
            totPrijs += ((double?)i.Price * (double?)i.Amount);
            string lijn = (i.Name + " " + i.Amount + "x");

                <div class="item-block">
                    
                <img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image);' class="item-icon" />
                <div class="item-span-container">

                    <p><span class="item-block-title nowrap">@Html.ActionLink((string)i.Name, "Detail", "Item", new { ItemId = i.ItemId }, null)</span><span class="item-block-amount nowrap">€@(i.Price * i.Amount) ,- <input class="item-block-number" id="@i.ItemId" onchange="updateAmount(@i.ItemId);" type="number" max="50" value="@i.Amount" /></span></p>
                    <p class="aangepasteP"><span class="item-block-day nowrap">@string.Format("{0}", i.DateBegin.DayOfWeek + " ")</span><span class="item-block-time nowrap">@string.Format("{0}", i.DateBegin.ToString("HH:mm") + " - " + i.DateEnd.ToString("HH:mm"))</span><span class="item-block-delete nowrap"><a onclick="deleteId(@i.ItemId)">×</a></span></p> <!--Jeroen? ItemId2-->

                </div>
            </div>
        }

          <hr id="wishHR" />
        @:<p class="pImportantLine"><b>Total Price: </b>€ @string.Format("{0}", ((double?)totPrijs)) ,-</p>
                        
        @:<p class="pImportantLine"><b>Code: </b>@string.Format("{0}", Code)</p>
        
        using (Html.BeginForm("wishOrder", "Wishlist", new { code = Code }, FormMethod.Post, new { Id = string.Format("form{0}", Code) }))
        {
            int iteratie = 0;
            foreach (ihff.Models.OrderItemCombined i in Model)
            {
                iteratie++;
                @Html.HiddenFor(a => i.ItemId, new { id = "ItemId_" + iteratie, Name = "ItemId_" + iteratie });
                @Html.HiddenFor(a => i.ItemId2, new { id = "ItemId2_" + iteratie, Name = "ItemId2_" + iteratie });
                @Html.HiddenFor(a => i.Amount, new { id = "Amount_" + iteratie, Name = "Amount_" + iteratie });
                @Html.HiddenFor(a => i.TotalPrice, new { id = "TotalPrice_" + iteratie, Name = "TotalPrice_" + iteratie });
                @Html.HiddenFor(a => i.WishlistCode, new { id = "WishlistCode_" + iteratie, Name = "WishlistCode_" + iteratie });
            }
                @Html.HiddenFor(a => iteratie, new { id = "Iteratie" + iteratie, Name = "Iteratie" });
            @Html.AntiForgeryToken()
            <div class="order-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", Code)).submit();"><span class="order-wishlist-plus">+</span><span class="order-wishlist-txt nowrap">Place Order</span></div>
        }
    }
    else
    {
        <p class="p-title">This is your wishlist, it is empty at the moment. You can add @Html.ActionLink("movies", "Movies", "Home"), @Html.ActionLink("lectures", "Activities", "Home") and @Html.ActionLink("restaurants", "Food", "Home") to your wishlist by clicking the add to wishlist button.</p>

        using (Html.BeginForm("wishReturningCode", "Wishlist", FormMethod.Post, new { Id = string.Format("formCReturningode") }))
        {
            @Html.AntiForgeryToken()
                <p class="p-title">
                    @Html.TextBox("Code", "Code", new { maxlength = "5" })
                </p>
                <div class="order-wishlist" onClick="document.getElementById(@string.Format("'formCReturningode'")).submit();"><span class="order-wishlist-plus">+</span><span class="order-wishlist-txt nowrap">Get Wishlist</span></div>
        }
    }
</div>
