@{
    ViewBag.Title = "Wishlist";
}
@using ihff.Models;
<link href="@Url.Content("~/Content/wishlist.css")" rel="stylesheet" type="text/css" />

<!--Wishlist Partial HTML pagina-->

<div>
    @if (Session["wishList"] != null)
    {
        string Code = Session["code"].ToString();
        double? totPrijs=0.0;// = Session["totalPrijs"] as Double?;
        List<Item> sessionList = Session["wishList"] as List<Item>;
        var q = from x in sessionList
                group x by x.ItemId into g
                let count = g.Count()
                orderby count descending
                select new { Id = g.Key, Count = count, All = from a in g select a };   //.Take(sessionList.Select(u => u))};

    @:<p><h4>Wishlist</h4></p>

        List<Tuple<string, int, int, double?>> tLijst = new List<Tuple<string, int, int, double?>>(); //met alles zoals wordt geshowed.. oja nog wel ff prijs

        foreach (var i in q)
        {
            var all = i.All.ToList();
            int index = q.Select((v, z) => new { v = v, index = z }).First(o => o.v.Id == i.Id).index;
            var a = all[0];

            /*var iPrice = sessionList.Where(n => n.ItemId == i.Id).Select(iprice => iprice.Price).ToList();
            var wishName = sessionList.Where(n => n.ItemId == i.Id).Select(name => name.Name).ToList();*/

            totPrijs = ((double?)a.Price * (double?)i.Count);
            string lijn = (a.Name + " " + i.Count + "x");
            string typeFolder = "";

            <div class="item-block">
                
                @switch ((int)a.EventType)
                {
                    case 1:
                        typeFolder = "films";
                        break;
                    case 2:
                        typeFolder = "specials";
                        break;
                    case 3:
                        typeFolder = "diners";
                        break;
                    default:
                        break;
                }
                <img src='@string.Format("../Content/img/"+typeFolder+"/{0}", a.Image)' class="item-icon" />
                <div class="item-span-container">

                    <p><span class="item-block-title nowrap">@Html.ActionLink(a.Name, "Detail", "Item", new { ItemId = a.ItemId }, null)</span><span class="item-block-year nowrap">@i.Count x</span></p>
                    <p><span class="item-block-day nowrap">@string.Format("{0}", a.DateBegin.DayOfWeek+" ")</span><span class="item-block-time nowrap">@string.Format("{0}", a.DateBegin.ToString("HH:mm") + " - " + a.DateEnd.ToString("HH:mm"))</span></p> <!--Saturday 17.00 - 19.30-->
                </div>
            </div>


            /*
            @:<p class="wishp">
            @lijn;
            
                @:<h3 class="wishh2">
                @Html.ActionLink(
                " ×",                                                     // linkText
                "deleteWishlistItem",                                    // actionName
                "Wishlist",                                             // routeValues
                new { i.Id },
                null
                )
                @:</h3>
            @:</p>
            */
            Tuple<string, int, int, double?> tTuple = new Tuple<string, int, int, double?>(a.Name, i.Id, i.Count, totPrijs);
            tLijst.Add(tTuple);
            
        }

        <hr id="wishHR" />
        @:<p class="pImportantLine"><b>Total Price: </b>@string.Format("{0}",((double?)totPrijs))</p>
        
        @:<p class="pImportantLine"><b>Code: </b>@string.Format("{0}", Code)</p>

        //plaats code in wishlist tabel
        //maak orderline aan en plaats code ook daar in
        Session["tupleLijst"] = tLijst;                     //, tupleLijst = tLijst
        using (Html.BeginForm("wishOrder", "Wishlist", new { code = Code }, FormMethod.Post, new { Id = string.Format("form{0}", Code) }))
        {
            @Html.AntiForgeryToken()
            <div class="order-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", Code)).submit();"><span class="order-wishlist-plus">+</span><span class="order-wishlist-txt nowrap">Place Order</span></div>
        }
    }
    else
    {
        <p class="p-title">This is your wishlist, it is empty at the moment. You can add @Html.ActionLink("movies", "Movies", "Home"), @Html.ActionLink("lectures", "Activities", "Home") and @Html.ActionLink("restaurants", "Food", "Home") to your wishlist by clicking the add to wishlist button.</p>
    }
</div>
