@{
    ViewBag.Title = "Wishlist";
}
@using ihff.Models;
<link href="@Url.Content("~/Content/wishlist.css")" rel="stylesheet" type="text/css" />

<!--Wishlist Partial HTML pagina-->

<div>
    @if (Session["wishList"] != null)
    {
        string Code = Session["code"].ToString();
        double? totPrijs = Session["totalPrijs"] as Double?;
        double? itemPriceTot;
        List<Item> sessionList = Session["wishList"] as List<Item>;
        var q = from x in sessionList
                group x by x.ItemId into g
                let count = g.Count()
                orderby count descending
                select new { Id = g.Key, Count = count };

    @:<p><h4>Wishlist</h4></p>

        List<Tuple<string, int, int, double?>> tLijst = new List<Tuple<string, int, int, double?>>(); //met alles zoals wordt geshowed.. oja nog wel ff prijs

        foreach (var i in q) {
            var iPrice = sessionList.Where(n => n.ItemId == i.Id).Select(iprice => iprice.Price).ToList();
            itemPriceTot = ((double?)iPrice.First() * (double?)i.Count);


            var wishName = sessionList.Where(n => n.ItemId == i.Id).Select(name => name.Name).ToList();
            string lijn = (wishName.First() + " " + i.Count + "x");

            @:<p id="wishp">
            @lijn;
            <style>#wishh2 {display: inline !important;} #wishp{display: inline-block !important; vertical-align:super !important;}</style> //Heel eventjes voor het testen zodoende
                @:<h3 id="wishh2">
                @Html.ActionLink(
                " ×",                                                     // linkText
                "deleteWishlistItem",                                    // actionName
                "Wishlist",                                             // routeValues
                new { i.Id },
                null
                )
                @:</h3>
            @:</p>

            Tuple<string, int, int, double?> tTuple = new Tuple<string, int, int, double?>(wishName.First().ToString(), i.Id, i.Count, itemPriceTot);
            tLijst.Add(tTuple);
        }


        @:<p>Total:</p><p>
        @totPrijs;
        @:</p>
        <hr />
        @:<p>Code:</p><p>
        @Code;
        @:</p>

        //plaats code in wishlist tabel
        //maak orderline aan en plaats code ook daar in
        using (Html.BeginForm("wishOrder", "Wishlist", new { code = Code, tupleLijst = tLijst }, FormMethod.Post, new { Id = string.Format("form{0}", Code) }))
        {
            @Html.AntiForgeryToken()
            <div class="order-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", Code)).submit();"><span class="order-wishlist-plus">+</span><span class="order-wishlist-txt nowrap">Place Order</span></div>
        }
    }
    else
    {
        <p class="p-title">This is your wishlist, it is empty at the moment. You can add @Html.ActionLink("movies", "Movies", "Home"), @Html.ActionLink("lectures", "Activities", "Home") and @Html.ActionLink("restaurants", "Food", "Home") to your wishlist by clicking the add to wishlist button.</p>
    }
</div>
