@{
    ViewBag.Title = "Food";
    Item item1 = ViewBag.item1;
}
@using ihff.Models;
@model IEnumerable<Item>

<link href="@Url.Content("~/Content/Food.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/objectFilter.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/isotope.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/isotope.pkgd.min.js"></script>

<div id="isotope-container" style="position: relative; height: 530.4px;">
    <ul class="ul-film">

        @foreach (var item in Model)
        {
            <li>
                <div class="film-object item @item.DateBegin.DayOfWeek">
                    <a href='@Url.Action("Detail", "Item", new {ItemId = item.ItemId}, null)'>
                        <img src='@string.Format("../../Content/img/diners/{0}", item.Image)' class="film-picto" />
                    </a>
                    <div class="film-block">
                        <div class="film-span-container">
                            <p><span class="film-block-title nowrap">@Html.ActionLink(item.Name, "Detail", "Item", new { ItemId = item.ItemId }, null)</span></p>
                            <p><span class="film-block-time-txt nowrap">Time:</span><span class="film-block-time nowrap">@string.Format("{0}", item.DateBegin.DayOfWeek + " " + item.DateBegin.ToString("HH:mm") + " - " + item.DateEnd.ToString("HH:mm"))</span></p>
                        </div>
                    </div>
                    @using (Html.BeginForm("AddFFTicket", "FF", new { Id2 = item.ItemId, Item1 = item1}, FormMethod.Post, new { Id2 = string.Format("form{0}", item.ItemId) }))
                    {
                        <div class="film-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", item.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">Add to Food & Film ticket</span></div>
                    }
                </div>
            </li>
        }
    </ul>
</div>

<script src="@Url.Content("~/Scripts/navbar-highlight.js")"></script>
<script src="~/Scripts/adrisotope.js"></script>
<script src="~/Scripts/jquery.debouncedresize.js"></script>