@model IEnumerable <ihff.Models.OrderItemCombined>


@{
    ViewBag.Title = "Reservation";
}

<link href="@Url.Content("~/Content/Reservation.css")" rel="stylesheet" type="text/css" />

<script>
    function dialogJaNee() {
    if (confirm('Wilt u deze order bewaren in uw wishlist?')) {
        $("#hiddenDeleteKnopBoolVal").val(true);
        //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
    }
    else{
            $("#hiddenDeleteKnopBoolVal").val(false);
            //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
        }
    }
</script>

<h2> Reservations </h2>
<table class="res_Table">
    <thead>
        <tr>
            <th> </th>
            <th class="res_Naam"> Name</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> Location</th>
            <th> Date - Time</th>
            <th> </th>
            <th> </th>
            <th> Amount</th>
            <th> Totalprice</th>
        </tr>
    </thead>

        @foreach (ihff.Models.OrderItemCombined i in Model)
        {
            <tr>
                <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                <td colspan="6" class="res_Naam">@i.Name</td>
                <td class="res_Locatie">@i.Location</td>
                <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                <td class="res_Prijs">
                    @using (Html.BeginForm("AlterOrder", "Reservation", i, FormMethod.Post))
                {
                    @Html.TextBox("inputAmount", @i.Amount, new { type = "number", min = "1", max = "10" })
                    <input type="submit" value="+-" />
                }
            </td>
            <td class="res_Prijs">&euro; @i.TotalPrice</td>

            <!-- HIER WIL IK DIE INFO VAN ITEMID2-->
            @*@if (i.ItemId2 != null)
                {
                   </tr>
                    <tr>
                        <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                        <td colspan="6" class="res_Naam">@i.Name</td>
                        <td class="res_Locatie">@i.Location</td>
                        <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                        <td class="res_Prijs">
                            @using (Html.BeginForm("AlterOrder", "Reservation", i, FormMethod.Post))
                        {
                            @Html.TextBox("inputAmount", @i.Amount, new { type = "number", min = "1", max = "10" });
                            <input type="submit" value="+-" />
                        }
                    </td>
                    <td class="res_Prijs">&euro; @i.TotalPrice</td>
                }*@

           
            <td>
                @using (Html.BeginForm("DeleteOrder", "Reservation", i, FormMethod.Post))
                {

                    <input type="submit" value="x" onclick="dialogJaNee();">
                    <input type="hidden" name="hiddenDeleteKnopBoolVal" id="hiddenDeleteKnopBoolVal" />
                }
            </td>
        </tr>
        }
    
    </table>

    <script>
        function validateReservation() {
            if (!$("#name").val().match(/^[a-zA-Z\ {0.45} ]+$/)) {
                alert("Vul een naam in.");
                return false;
            }
            if (!$("#tel").val().match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/)) {
                alert("Telefoonnummer");
                return false;
            }
            return true;
        }
    </script>
<table class="res_Table">

    @using (Html.BeginForm("Create", "Reservation", Model, FormMethod.Post, new { onsubmit = "return validateReservation();" }))
    {
        <tr>
            @Html.AntiForgeryToken()
            <td>
                Name : @Html.TextBox("name")
            </td>
            <td>
                Telephone : @Html.TextBox("tel")
            </td>
            <td>
                <select id="paymentMethod" name="paymentMethod">
                    <option>Choose a method of payment</option>
                    <option value="iDeal">iDeal</option>
                    <option value="Creditcard">Creditcard</option>
                    <option value="Cash">Cash at booth</option>
                </select>
            </td>
            <td>
                <input type="submit" value="Make Reservation" />
            </td>
        </tr>
    }

</table>