@model IEnumerable <ihff.Models.OrderItemCombined>


@{
    ViewBag.Title = "Reservation";
}

<link href="@Url.Content("~/Content/Reservation.css")" rel="stylesheet" type="text/css" />

<script>
    function dialogJaNee() {
        if (confirm('Hallo?')) {
            alert('Je klikte op OK'); //kan weg
            $("#hiddenDeleteKnopBoolVal").val(true);
            //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
        } else {
            alert('Je klikte op annuleren.'); //kan weg
            $("#hiddenDeleteKnopBoolVal").val(false);
            //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
        }
    }
</script>

<h2> Reservations </h2>
<table class="res_Table">
    <thead>
        <tr>
            <th> </th>
            <th class="res_Naam"> Name</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> Location</th>
            <th> Date - Time</th>
            <th> </th>
            <th> </th>
            <th> Amount</th>
            <th> Totalprice</th>
        </tr>
    </thead>
    @{
        foreach (ihff.Models.OrderItemCombined i in Model)
        {
            <tr>
                <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                <td colspan="6" class="res_Naam">@i.Name</td>
                <td class="res_Locatie">@i.Location</td>
                <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                <td class="res_Prijs">@using (Html.BeginForm("AlterOrder", "Reservation", i, FormMethod.Post))
                {
                    @Html.TextBox("inputAmount", @i.Amount, new { type = "number", min = "1", max = "10"});
                    <input type="submit" value="+-"/>
                } </td>
                <td class="res_Prijs">&euro; @i.TotalPrice</td>
                <td>
                    @using (Html.BeginForm("DeleteOrder", "Reservation", i, FormMethod.Post))
                    {
                        
                        <input type="submit" value="x" onclick="dialogJaNee();">
                        <input type="hidden" name="hiddenDeleteKnopBoolVal" id="hiddenDeleteKnopBoolVal" />
                    }
                </td>
            </tr>
        }
    }
</table>
<!-- TODO : FIX VALIDATION-->
@using (Html.BeginForm("Create", "Reservation", Model, FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <p> naam </p>@Html.TextBox("name");
    <p> Telefoonnummer </p>@Html.TextBox("tel");
    <select id="paymentMethod" name="paymentMethod">
        <option value="iDeal">iDeal</option>
        <option value="Creditcard">Creditcard</option>
        <option value="Cash">Cash at booth</option>
     </select>

        <input type="submit" value="Make Reservation" />
}