@using Resources
@model IEnumerable <ihff.Models.OrderItemCombined>


@{
    ViewBag.Title = "Reservation";
}

<link href="@Url.Content("~/Content/Reservation.css")" rel="stylesheet" type="text/css" />

<script>
    function dialogJaNee(id1, id2) {
        var inputNumberId = id1 + "en" + id2;
    if (confirm('Wilt u deze order bewaren in uw wishlist?')) {
        $("#hiddenDeleteKnopBoolVal"+inputNumberId).val(true);
        //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
    }
    else{
        $("#hiddenDeleteKnopBoolVal"+inputNumberId).val(false);
            //$("#hiddenDeleteKnopResForm").submit(); //deleteOrder 
        }
    }
</script>

<h2>@Resource.ReservationsTitle</h2>
<table class="res_Table">
    <thead>
        <tr>
            <th> </th>
            <th class="res_Naam"> @Resource.ResNameLbl</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> @Resource.ResLocationLbl</th>
            <th> @Resource.ResDateTimeLbl</th>
            <th> </th>
            <th> </th>
            <th> @Resource.ResAmountLbl</th>
            <th> @Resource.ResTotalPriceLbl</th>
        </tr>
    </thead>

        @foreach (ihff.Models.OrderItemCombined i in Model)
        {
            int? item2 = (i.ItemId2 != null) ? i.ItemId2 : 0;
            string inputNumberId = i.ItemId + "en" + item2;
            <tr>
                <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                <td colspan="6" class="res_Naam">@i.Name</td>
                <td class="res_Locatie">@i.Location</td>
                <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                <td class="res_Prijs">
                    @using (Html.BeginForm("AlterOrder", "Reservation", i, FormMethod.Post))
                {
                    @Html.TextBox("inputAmount", @i.Amount, new { type = "number", min = "1", max = "10" })
                    <input type="submit" value="+-" />
                }
            </td>
            <td class="res_Prijs">&euro; @i.TotalPrice</td>

            <!-- HIER WIL IK DIE INFO VAN ITEMID2-->
            @*@if (i.ItemId2 != null)
                {
                   </tr>
                    <tr>
                        <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                        <td colspan="6" class="res_Naam">@i.Name</td>
                        <td class="res_Locatie">@i.Location</td>
                        <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                        <td class="res_Prijs">
                            @using (Html.BeginForm("AlterOrder", "Reservation", i, FormMethod.Post))
                        {
                            @Html.TextBox("inputAmount", @i.Amount, new { type = "number", min = "1", max = "10" });
                            <input type="submit" value="+-" />
                        }
                    </td>
                    <td class="res_Prijs">&euro; @i.TotalPrice</td>
                }*@

           
            <td>
                @using (Html.BeginForm("DeleteOrder", "Reservation", i, FormMethod.Post))
                {
                    string idtje = "hiddenDeleteKnopBoolVal" + inputNumberId;

                    <input type="submit" value="x" onclick="dialogJaNee(@i.ItemId, @item2)">
                    <input type="hidden" name="hiddenDeleteKnopBoolVal" id="@idtje" />
                }
            </td>
        </tr>
        }
    
    </table>

    <script>
        function validateReservation() {
            if (!$("#name").val().match(/^[a-zA-Z\ {0.25} ]+$/)) {
                alert("@Resource.ResProvideName");
                return false;
            }
            if (!$("#tel").val().match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/)) {
                alert("@Resource.ResProvidePhone");
                return false;
            }
            return true;
        }
    </script>
<table class="res_Table">

    @using (Html.BeginForm("Create", "Reservation", Model, FormMethod.Post, new { onsubmit = "return validateReservation();" }))
    {
        <tr>
            @Html.AntiForgeryToken()
            <td>
                @Resource.ResCustomerNameLbl : @Html.TextBox("name")
            </td>
            <td>
                @Resource.ResCustomerPhoneLbl : @Html.TextBox("tel")
            </td>
            <td>
                <select id="paymentMethod" name="paymentMethod">
                    <option>@Resource.ResPaymentOptionsLbl</option>
                    <option value="iDeal">iDeal</option>
                    <option value="Creditcard">Creditcard</option>
                    <option value="Cash">Cash at booth</option>
                </select>
            </td>
            <td>
                <input type="submit" value="@Resource.ResBtn" />
            </td>
        </tr>
    }

</table>