@model IEnumerable<ihff.Models.OrderItemCombined>


@{
    ViewBag.Title = "Index";
    //  List<ihff.Models.OrderItemCombined> allCombined =
    //ViewBag.allItems = allItems;
    // Html.DisplayFor(model => model.)
}

<link href="@Url.Content("~/Content/Reservation.css")" rel="stylesheet" type="text/css" />

<h2> Reservations </h2>
<table class="res_Table">
    <thead>
        <tr>
            <th> </th>
            <th> Name</th>
            <th> Location</th>
            <th> Date</th>
            <th> Begins</th>
            <th> Price</th>
            <th> Amount</th>
            <th> Totalprice</th>
        </tr>
    </thead>
    @{
        foreach (ihff.Models.OrderItemCombined i in Model)
        {
            <tr>
                <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType , i.Image)' class="Res_IMG" /></td>
                <td class="res_Naam">@i.Name</td>
                <td class="res_Locatie">@i.Location</td>
                <td class="res_Aanvang"> @i.DateBegin.ToString("dd/MM")</td>
                <td class="res_Aanvang"> - @i.DateBegin.ToString("HH:mm")</td>
                <td class="res_Prijs">@i.Price - </td>
                <td class="res_Prijs"> @i.Amount -</td>
                <td class="res_Prijs"> @i.TotalPrice</td>
                <td> x </td>
            </tr>
           }

    }
</table>


    <!-- foreach (var s in ordersMetItems)
    {
        <p> //s.Ammount </p>
    } -->
