@model IEnumerable<ihff.Models.OrderItemCombined>


@{
    ViewBag.Title = "Index";
    //  List<ihff.Models.OrderItemCombined> allCombined =
    //ViewBag.allItems = allItems;
    // Html.DisplayFor(model => model.)
}

<link href="@Url.Content("~/Content/Reservation.css")" rel="stylesheet" type="text/css" />

<h2> Reservations </h2>
<table class="res_Table">
    <thead>
        <tr>
            <th> </th>
            <th class="res_Naam"> Name</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> Location</th>
            <th> Date - Time</th>
            <th> </th>
            <th> </th>
            <th> Amount</th>
            <th> Totalprice</th>
        </tr>
    </thead>
    @{
        foreach (ihff.Models.OrderItemCombined i in Model)
        {
            <tr>
                <td><img src='@string.Format("../Content/img/{0}/{1}", i.EventType, i.Image)' class="Res_IMG" /></td>
                <td colspan="6" class="res_Naam">@i.Name</td>
                <td class="res_Locatie">@i.Location</td>
                <td colspan="3" class="res_Aanvang"> @i.DateBegin.ToString("dd/MM") - @i.DateBegin.ToString("HH:mm")</td>
                <td class="res_Prijs">@i.Amount </td>
                <td class="res_Prijs">&euro; @i.TotalPrice</td>
                <td>@Html.BeginForm("DeleteOrder", "Reservation", i){<input type="submit" value="x">} </td>
             </tr>
           }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html.BeginForm("CreatePage", "Reservation", Model){<input type="submit" value="Create Reservation">}</td>  
    </tr>
</table>




    <!-- foreach (var s in ordersMetItems)
    {
        <p> //s.Ammount </p>
    } -->
