@using Resources
@model ihff.Models.Reservation

@{
    ViewBag.Title = "PaymentSucces";
}

<h2>@Resource.PaymentTitle</h2>

<p>@Resource.ConfirmedTxt</p>
<p>@Resource.ResCodeTxt1 "@Model.ReservationCode" @Resource.ResCodeTxt2</p>
<p>@Resource.EmailCodeTxt @Html.TextBox("email")</p>
<p>@Resource.ResCodeTxt3</p>