@{
    ViewBag.Title = "Activities";
}
@using ihff.Models;
@model IEnumerable<Item>


<link href="@Url.Content("~/Content/Activities.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/objectFilter.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/isotope.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/isotope.pkgd.min.js"></script>



        <nav class="filmFilter ">
            <ul id="filters" class="option-set" data-option-key="filter">
                <li><a href="#" data-option-value=".Wednesday" class="">Wednesday</a></li> -
                <li><a href="#" data-option-value=".Thursday" class="">Thursday</a></li> -
                <li><a href="#" data-option-value=".Friday">Friday</a></li> -
                <li><a href="#" data-option-value=".Saturday" class="">Saturday</a></li> -
                <li><a href="#" data-option-value=".Sunday" class="">Sunday</a></li> -
                <li><a href="#" data-option-value="*" class="selected">Overview</a></li>
            </ul>
        </nav>
        <div id="isotope-container" style="position: relative; height: 530.4px;">

            <ul class="ul-film">

                @foreach (var item in Model)
                {

                    <li>
                        <div class="film-object item @item.DateBegin.DayOfWeek">
                            <!--~/Content/img/films/Intestellar1.png-->
                            <a href='@Url.Action("Detail", "Item", new {ItemId = item.ItemId}, null)'>
                                <img src='@string.Format("../Content/img/specials/{0}", item.Image)' class="film-picto" />
                            </a>
                            <div class="film-block">
                                <div class="film-span-container">
                                    <p><span class="film-block-title nowrap">@Html.ActionLink(item.Name, "Detail", "Item", new { ItemId = item.ItemId }, null)</span></p>
                                    <p><span class="film-block-time-txt nowrap">Time:</span><span class="film-block-time nowrap">@string.Format("{0}", item.DateBegin.DayOfWeek + " " + item.DateBegin.ToString("HH:mm") + " - " + item.DateEnd.ToString("HH:mm"))</span></p> <!--Saturday 17.00 - 19.30-->
                                </div>
                            </div>
                            @using (Html.BeginForm("addWish", "Wishlist", new { Id = item.ItemId }, FormMethod.Post, new { Id = string.Format("form{0}", item.ItemId) }))
                            {
                                <div class="film-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", item.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">Add to Wishlist</span></div>
                            }
                        </div>
                    </li>

                }

            </ul>

        </div>

<script src="@Url.Content("~/Scripts/navbar-highlight.js")"></script>

<script src="~/Scripts/adrisotope.js"></script>
<script src="~/Scripts/jquery.debouncedresize.js"></script>