@using Resources

@{
    ViewBag.Title = "Food & Film";
}

<h3>@Resource.FoodFilmTitle</h3>
@Html.Raw(Resource.FoodFilmContent)
<p>@Resource.FoodFilmTxt1 @Html.ActionLink("Movie", "Movies", "Home") @Resource.FoodFilmTxt2</p>