@{
    ViewBag.Title = "Movies";
}


<link href="@Url.Content("~/Content/Movies.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/objectFilter.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/isotope.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/isotope.pkgd.min.js"></script>

<div id="div-center">

    <div id="welcome-intro">
        <h1>Welcome to</h1>
        <h3>the website of IHFF</h3>
    </div>

    <div id="left-div-container">


            <nav class="filmFilter ">
                <ul id="filters" class="option-set" data-option-key="filter">
                    <li><a href="#" data-option-value=".wednesday" class="">Wednesday</a></li> - 
                    <li><a href="#" data-option-value=".thursday" class="">Thursday</a></li> - 
                    <li><a href="#" data-option-value=".firday">Firday</a></li> - 
                    <li><a href="#" data-option-value=".saturday" class="">Saturday</a></li> - 
                    <li><a href="#" data-option-value=".sunday" class="">Sunday</a></li> - 
                    <li><a href="#" data-option-value="*" class="selected">Overview</a></li>
                </ul>
            </nav>

        <div id="isotope-container" style="position: relative; height: 530.4px;">


            <ul class="ul-film">
                @using ihff.Models;
                @model IEnumerable<Item>
                @{

                }
                @foreach (var film in Model)
                {
                    if (film.EventType == 1)
                    {
                        <li>
                            <div class="film-object item saturday">
                                <!--~/Content/img/films/Intestellar1.png-->
                                <img src='@string.Format("../Content/img/films/{0}",@film.Image)' class="film-picto" />
                                <div class="film-block">
                                    <img src='@string.Format("../Content/img/films/kijkwijzer_{0}.png", @film.AgeClassification)' class="film-kijkwijzer" />
                                    <div class="film-span-container">
                                        <p><span class="film-block-title nowrap">@film.Name</span><span class="film-block-year nowrap">@film.Year</span></p>
                                        <p><span class="film-block-time-txt nowrap">Time:</span><span class="film-block-time nowrap">@film.DateBegin.DayOfWeek; @film.DateBegin.ToString("HH:mm"); - @film.DateEnd.ToString("HH:mm");</span></p> <!--Saturday 17.00 - 19.30-->
                                    </div>
                                </div>
                                @using (Html.BeginForm("addWish", "Wishlist", new { Id = film.ItemId }, FormMethod.Post, new { Id = "form" + 1.ToString() }))
                                {
                                    <div class="film-wishlist" onClick="document.getElementById('form'+1).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">Add to Wishlist</span></div>
                                }
                            </div>
                        </li>
                    }

                }


            </ul>



        </div>
    </div>



    <div id="right-div-container">
        <div>
            <p class="p-title">This is your wishlist, it is empty at the moment. You can add <a>movies</a>, <a>lectures</a> and <a>restaurants</a> to your wishlist by clicking the add to wishlist button.</p>
        </div>
    </div>

    <div id="footer-div-container">

    </div>

</div>
<script src="@Url.Content("~/Scripts/navbar-highlight.js")"></script>

<script src="~/Scripts/adrisotope.js"></script>
<script src="~/Scripts/jquery.debouncedresize.js"></script>