@using System.Data.Entity.ModelConfiguration.Conventions
@model ihff.Models.Item
@{
    ViewBag.Title = "Item Detail";
}
<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />
<div id="div-center">

    <div id="welcome-intro">
        <h1>Welcome to</h1>
        <h3>the website of IHFF</h3>
    </div>




    <div id="left-div-container">
        <div>
            <p class="p-title">@Model.Name</p>

            @if (Model.EventType == 1)
            {
                // Toon Film Detail Parial
                @Html.Partial("MovieDetailParital", Model)
            }
             else if (Model.EventType == 2)
             {
                // Toon Special Detail Partial
             }
             else if (Model.EventType == 3)
             {
                // Toon Diner Detail Partial
             }

        </div>
    </div>




    <div id="right-div-container">
        @Html.Partial("~/Views/Wishlist/index.cshtml", null)
    </div>
    <div id="footer-div-container">
    </div>
</div>