@using System.Data.Entity.ModelConfiguration.Conventions
@model ihff.Models.Item
@{
    ViewBag.Title = "Item Detail";
}
<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />

        <div>
            <h3>@Model.Name</h3>

            @if (Model.EventType == 1)
            {
                // Toon Film Detail Partial
                @Html.Partial("MovieDetailParital", Model)
            }
            else if (Model.EventType == 2)
            {
                // Toon Special Detail Partial
                @Html.Partial("SpecialDetailParital", Model)
            }
            else if (Model.EventType == 3)
            {
                // Toon Diner Detail Partial
                @Html.Partial("DinerDetailParital", Model)
            }

        </div>


