@using System.Xml
@using ihff.Controllers
@using ihff.Controllers.Api
@using Newtonsoft.Json.Linq
@model ihff.Models.Item
@{
    ImdbParser imdbParser = new ImdbParser();
    string imdbId = imdbParser.GetImdbId(Model);
    string poster = imdbParser.GetImdbPoster(Model);
    string imdbUrl = "http://www.imdb.com/title/" + imdbId;
}
<div class="container Arnold-bootstrap-hax0r-fix">
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Title:</dt>
                <dd>@Model.Name</dd>
                <dt>Year:</dt>
                <dd>@Model.Year</dd>
                <dt>Director:</dt>
                <dd>@Model.Director</dd>
                <dt>Cast:</dt>
                <dd>@Model.Cast</dd>
                <dt>IMDB Rating:</dt>
                <dd>@Model.ImdbRating</dd>
                <dt>IMDB Pagina:</dt>
                <dd><a href="@imdbUrl">Link</a></dd>
                <dt>Kijkwijzer®:</dt>
                <dd>@Model.AgeClassification</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <img  src='@poster' class="film-poster" />
        </div>
    </div>
</div>

<h3>Description:</h3>
<p>@Model.DescriptionENG</p>

<h3>Location And Time:</h3>
<dl class="dl-horizontal">
    <dt>Location:</dt>
    <dd>@Model.Location</dd>

    <dt>Time and date:</dt>
    <dd>@Model.DateBegin.ToString("MM/dd/yyyy hh:mm") - @Model.DateEnd.ToString("hh:mm")</dd>
</dl>

@using (Html.BeginForm("addWish", "Wishlist", new { Id = Model.ItemId }, FormMethod.Post, new { Id = string.Format("form{0}", @Model.ItemId) }))
{
    <div class="film-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", @Model.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">Add to Wishlist</span></div>
}

<p>@imdbId</p>
