@using System.Globalization
@using System.Threading
@using System.Xml
@using ihff.Controllers
@using ihff.Controllers.Api
@using ihff.Controllers.Reposotories
@using ihff.Models
@using Newtonsoft.Json.Linq
@using Resources
@model ihff.Models.Item
@{
    // Haal IMDB intformatie op
    // ID en Poster
    ImdbParser imdbParser = new ImdbParser();
    string imdbId = imdbParser.GetImdbId(Model);
    string poster = imdbParser.GetImdbPoster(Model);
    string imdbUrl = "http://www.imdb.com/title/" + imdbId;

    IItemRepository itemRepository = new DbItemRepository();
    Location location = itemRepository.GetItemLocation(Model.ItemId);
}
<div class="container Arnold-bootstrap-hax0r-fix">
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>@Resource.TitleLbl</dt>
                <dd>@Model.Name</dd>
                <dt>@Resource.YearLbl</dt>
                <dd>@Model.Year</dd>
                <dt>@Resource.DirectorLbl</dt>
                <dd>@Model.Director</dd>
                <dt>@Resource.CastLbl</dt>
                <dd>@Model.Cast</dd>
                <dt>@Resource.ImdbRatingLbl</dt>
                <dd>@Model.ImdbRating</dd>
                <dt>@Resource.ImdbPageLbl</dt>
                <dd><a href="@imdbUrl">Link</a></dd>
                <dt>@Resource.AgeClassificationLbl:</dt>
                <dd>@Model.AgeClassification</dd>
                <dt>@Resource.PriceLbl:</dt>
                <dd>€@Model.Price p.p.</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <img  src='@poster' class="film-poster" />
        </div>
    </div>
</div>

<h3>@Resource.DescriptionLbl</h3>
@{
    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
    if (currentCulture.Name == "en-US")
    {
        <p>@Model.DescriptionENG</p>
    }
    else
    {
        <p>@Model.DescriptionNL</p>
    }
}


<h3>@Resource.LocationTimeLbl</h3>
<dl class="dl-horizontal">
    <dt>@Resource.LocationLbl</dt>
    <dd>@Model.Location</dd>
    <dt>@Resource.AddressLbl</dt>
    <dd>@location.Address</dd>
    <dt>@Resource.ZipCodeLbl</dt>
    <dd>@location.Zipcode</dd>
    <dt>@Resource.TimeDateLbl</dt>
    <dd>@Model.DateBegin.ToString("MM/dd/yyyy hh:mm") - @Model.DateEnd.ToString("hh:mm")</dd>
</dl>



@using (Html.BeginForm("index", "FF", new { Id = Model.ItemId }, FormMethod.Post, new { Id = string.Format("formFF", @Model.ItemId) }))
{
    <div class="film-wishlist" onClick="document.getElementById(@string.Format("'formFF'", @Model.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">@Resource.OrderFFBtn</span></div>
}


@using (Html.BeginForm("addWish", "Wishlist", new { Id = Model.ItemId }, FormMethod.Post, new { Id = string.Format("form{0}", @Model.ItemId) }))
{
    <div class="film-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", @Model.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">@Resource.AddWishlistBtn</span></div>
}
<!-- using (Html.BeginForm("Index", "FF", new { Id = Model.ItemId }, FormMethod.Post, new { Item = string.Format("form{0}", Model) }))
{
    <div class="film-wishlist" onClick="document.getElementById(string.Format("'form{0}'", Model.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">Order Food&Film Ticket</span></div>
}-->