@using System.Globalization
@using System.Threading
@using ihff.Controllers
@using ihff.Controllers.Reposotories;
@using ihff.Models
@using Resources
@model ihff.Models.Item
@{
    IItemRepository itemRepository = new DbItemRepository();
    Location location = itemRepository.GetItemLocation(Model.ItemId);
    }

<div class="container Arnold-bootstrap-hax0r-fix">
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>@Resource.TitleLbl</dt>
                <dd>@Model.Name</dd>
                <dt>@Resource.AuthorLbl</dt>
                <dd>@Model.Director</dd>
                <dt>@Resource.LocationLbl</dt>
                <dd>@Model.Location</dd>
                <dt>@Resource.PriceLbl</dt>
                <dd>€@Model.Price p.p.</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <img src='@string.Format("../Content/img/2/{0}", @Model.Image)' class="film-picto" />
        </div>
    </div>
</div>
<h3>@Resource.DescriptionLbl</h3>
@{
    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
    if (currentCulture.Name == "en-US")
    {
        <p>@Model.DescriptionENG</p>
    }
    else
    {
        <p>@Model.DescriptionNL</p>
    }
}

<h3>@Resource.LocationTimeLbl</h3>
<dl class="dl-horizontal">
    <dt>@Resource.LocationLbl</dt>
    <dd>@location.Name</dd>
    <dt>@Resource.AddressLbl</dt>
    <dd>@location.Address</dd>
    <dt>@Resource.ZipCodeLbl</dt>
    <dd>@location.Zipcode</dd>
    <dt>@Resource.TimeDateLbl</dt>
    <dd>@Model.DateBegin.ToString("MM/dd/yyyy hh:mm") - @Model.DateEnd.ToString("HH:mm")</dd>
</dl>
@using (Html.BeginForm("addWish", "Wishlist", new { Id = Model.ItemId }, FormMethod.Post, new { Id = string.Format("form{0}", @Model.ItemId) }))
{
    <div class="film-wishlist" onClick="document.getElementById(@string.Format("'form{0}'", @Model.ItemId)).submit();"><span class="film-wishlist-plus">+</span><span class="film-wishlist-txt nowrap">@Resource.AddWishlistBtn</span></div>
}
